name: CI

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:

  tests_linux:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install base requirements project
        run: |
          pip install uv
          uv venv
          source .venv/bin/activate
          apt-get install -y libturbojpeg-dev
          uv pip install -e ".[dev,datasets]"
      - name: Run tests (for base requirements)
        run: |
          source .venv/bin/activate
          pytest tests
      - name: Install + Google Dependencies
        run: |
          source .venv/bin/activate
          uv pip install -e ".[google,datasets]"
      - name: Run tests (protobuf and gcsfs) dependencies
        run: |
          source .venv/bin/activate
          pytest tests
